{% extends 'accounts/staff_dashboard.html' %}
{% load static %}

{% block title %}Appointments | Completed{% endblock %}

{% block staff_extra_css %}

<link rel="stylesheet" href="{% static 'appointments/css/table.css' %}">

{% endblock %}

{% block content %}

<h2 class="appointments_title">Completed Appointments</h2>

<table class="table_completed">
    <tr>
        <th>Resident Name</th>
        <th>Certificate Type</th>
        <th>Appointment Date</th>
        <th>Appointment Time</th>
        <th>Purpose</th>
        <th>Status</th>
    </tr>
    {% for appointment in appointments %}
    <tr>
        <td>{{ appointment.resident.resident.last_name }}, {{ appointment.resident.resident.first_name }} {% if appointment.resident.resident.middle_name %}{{ appointment.resident.resident.middle_name|slice:":1" }}.{% endif %}</td>
        <td>{{ appointment.get_certificate_type_display }}</td>
        <td>{{ appointment.preferred_date }}</td>
        <td>{{ appointment.preferred_time }}</td>
        <td>{{ appointment.purpose }}</td>
        <td>{{ appointment.status }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}