{% extends 'base.html' %}
{% load static %}

{% block title %}Home | Barangay Online Appointment & Certification Magement System{% endblock %}

{% block appbar %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'appointments/css/certification.css' %}">
    {% block staff_css %}{% endblock %}
{% endblock %}

{% block user_logout %}

<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}

    <div class="profile-popup">
        <div class="user-name" onclick="event.preventDefault()">
            {% if user.role == 'resident' %}
                {{ user.resident.first_name }} {{ user.resident.last_name }}
            {% else %}
                Barangay Office
            {% endif %}
        </div>

        <div class="popup-menu" id="profileMenu">
            {% if user.role == 'resident' %}
            <a href="{% url 'profile' %}"><div>Profile</div></a>
            {% endif %}
            <button type="submit">Logout</button>
        </div>
    </div>
</form>

    
    <script src="{% static 'accounts/js/popup.js' %}"></script>

{% endblock %}

{% block content %}
 
    <div class="title-welcome">
        <h2>Barangay Online Appointment and <br />Certification Management System.</h2>
    </div>

{% endblock %}
